body {
  background-color: #efefef;
}
a, .btn-mixnote {
  color: #6f2a8e;
}
a:hover, .btn-mixnote:hover {
  color: #4f1e66;
}
th, #new_mix label, #new_permission label {
  font-size: 16px;
  font-weight: bold;
}
header {
  margin-bottom: 20px;
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(top,  #000000 0%, #000000 70%, #353535 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(70%,#000000), color-stop(100%,#353535)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #000000 0%,#000000 70%,#353535 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #000000 0%,#000000 70%,#353535 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #000000 0%,#000000 70%,#353535 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #000000 0%,#000000 70%,#353535 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#353535',GradientType=0 ); /* IE6-9 */
  border-bottom: 2px solid #686868;
}
div.inner {
  width: 770px;
  margin: 0 auto;
}
header h1 {
  margin: 0;
  padding: 30px 0 10px 0;
  font-size: 56px;
  font-weight: normal;
}
a#brand:hover {
  text-decoration: none;
}
ul.nav {
  margin-bottom: 0;
}
ul.nav > li {
  display: inline-block;
}
ul.nav a {
  padding: 10px;
  border-radius: 5px 5px 0 0;
  font-size: 18px;
  color: #e5e5e5;
}
ul.nav a:hover {
  background-color: #454545;
  color: #fff;
}
li.nav-right {
  float: right;
}
li#username {
  padding: 10px;
  color: #686868;
}
a#sign-out {
  font-size: 14px;
  text-decoration: underline;
}
a#sign-out:hover {
  background-color: inherit;
}
h1#logo {
  margin: 100px 0 20px 0;
  text-align: center;
  font-family: serif;
  font-size: 70px;
}
p.devise-alert {
  text-align: center;
}
footer {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  background: -moz-linear-gradient(top,  rgba(239,239,239,0) 0%, rgba(239,239,239,1) 40%, rgba(239,239,239,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,0)), color-stop(40%,rgba(239,239,239,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(239,239,239,0) 0%,rgba(239,239,239,1) 40%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(239,239,239,0) 0%,rgba(239,239,239,1) 40%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(239,239,239,0) 0%,rgba(239,239,239,1) 40%,rgba(239,239,239,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(239,239,239,0) 0%,rgba(239,239,239,1) 40%,rgba(239,239,239,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00efefef', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}
p#credit {
  margin-top: 30px;
  color: #686868;
}