a[href="#new-mix-modal"] {
  float: right;
}
h3#new-mix-modal-label {
  color: #6f2a8e;
}
form#new_mix {
  margin-bottom: 0;
}
div#upload-box {
  position: relative;
}
input#mix_audio {
  width: 83px;
  position: absolute;
  z-index: 9999;
  opacity: 0;
}
span#upload-filename {
  padding-left: 5px;
}
p#upload-status {
  text-align: center;
  display: none;
}
th#comments-heading, th#users-heading, td.comments, td.users {
  width: 74px;
  text-align: center;
}
th#admin-heading {
  width: 159px;
}
th#edit-mix-heading {
  width: 41px;
  color: #6F2A8E;
}
th#edit-mix-heading:hover {
  text-decoration: underline;
  color: #5b2375;
  cursor: pointer;
}