p.permissions-heading {
  font-size: 16px;
  font-weight: bold;
}
p#admin {
  margin-left: 25px;
}
ul#user-list {
  list-style-type: none;
}
form#new_permission, form#new_reply {
  margin-bottom: 0;
}
form#new_permission label {
  font-size: 16px;
  font-weight: bold;
}
p#instructions {
  margin-top: 10px;
  text-align: center;
  font-style: italic;
}
table#comments-table {
  margin: 0;
}
th#time-heading, td.arrow {
  width: 44px;
  text-align: right;
}
th#replies-heading, td.replies {
 width: 51px;
 text-align: center;
}
th#comments-user-heading {
  width: 159px;
}
th#edit-comment-heading {
  width: 41px;
  color: #6f2a8e;
}
th#edit-comment-heading:hover, td.time:hover {
  text-decoration: underline;
  color: #4f1e66;
  cursor: pointer;
}
td.time {
  text-align: right;
  color: #6f2a8e;
}
input#reply_content {
  margin-left: 60px;
  width: 557px;
}
input#comment_content {
  margin-left: 68px;
  width: 557px;
}