p#owner {
  margin-left: 25px;
}
ul#user-list {
  list-style-type: none;
}
div#add-user-modal > form, form#new_reply {
  margin-bottom: 0;
}
div#jp_container_1 {
  width: 100%;
}
div.jp-gui {
  width: 420px;
  margin: 0 auto;
}
p#instructions {
  margin-top: 10px;
  text-align: center;
}
table#comments-table {
  margin: 0;
}
th#time-heading {
  width: 44px;
  text-align: right;
}
th#user-heading {
  width: 159px;
}
td.time {
  text-align: right;
  color: #08c;
}
td.time:hover {
  text-decoration: underline;
  color: #005580;
  cursor: pointer;
}
td.arrow {
  text-align: right;
}
input#reply_content {
  margin-left: 60px;
  width: 521px;
}
input#topic_content {
  margin-left: 68px;
  width: 521px;
}